.body-darken {
    color: #fff !important;
    background-color: #1e1e1e !important;
}

.font-color-lighten {
    color: #fff !important;
}

.background-darken {
    background-color: #1e1e1e !important;
}